<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
		<h:form>
			<p>
				First Name:<h:inputText value="#{registrationController.services.user.firstName}"/>
			</p>
			<p>
				Last Name: <h:inputText value="#{registrationController.services.user.lastName}"/>
			</p>
			<p>
				Email: <h:inputText value="#{registrationController.services.user.email}"/>
			</p>
			<p>
				Address: <h:inputText value="#{registrationController.services.user.address}"/>
			</p>
			<p>
				Phone Number: <h:inputText value="#{registrationController.services.user.phoneNumber}"/>
			</p>
			<p>
				Username: <h:inputText value="#{registrationController.services.user.userName}"/>
			</p>
			<p>
				Password: <h:inputText value="#{registrationController.services.user.passWord}"/>
			</p>
			<p>
				<h:commandButton action="#{registrationController.onSubmit()}" value="Register" />
			</p>
		</h:form>
		
		</ui:define>
	</ui:composition>
	
</body>
</html>